body {
  margin: 0;
  font-weight: 300;
}


header {
  background-color: #DDA0DD;
}

ul{

  border-bottom: 1px solid black;
}

li{
  display: inline-block;
}



.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #DDA0DD;
}

.navbar {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: pink;
  margin: 10px;
}

.navbar-inner {
  width: 1024px;
  margin: 10px auto 10px ;
  height auto;
  overflow: hidden;
}

.mainbody {
  max-width: 1500px;
  margin: 20px auto 10px ;
  height auto;
  overflow: hidden;

}

.accountbody{
  max-width: 1500px;
  margin: 20px auto 10px ;
  height auto;
  overflow: hidden;
  background-color: white;
}

.col1 {
  width: 20%;
  float: left;
  height: auto;
  background-color: pink;
}

.col2 {
  width: 77%;
  margin-left: 30px;
  float: left;
  height: 920px;
  background-color: pink;
  overflow: auto;
}


.navbar-col1 {
  width: 26%;
  float: left;
  height: auto;

}

.navbar-col2 {
  width: 44%;
  margin-left: 2%;
  float: left;
  height: auto;
}

.navbar-col3 {
  width: 26%;
  margin-left: 2%;
  float: left;
  height: auto;
  padding-top: 8px;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

.user{
  font-size: 28px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
}

.style {
    padding-left: 50px;
}

.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
  color: white;
}
footer{
  border-top: 1px solid;
  border-top-color: black;
  background-color: #DDA0DD;
}

footer a{
  margin-right: 20px;
}

.logo{
  padding-top: 5px;
  padding-left: 10px;
}

.margin{
  margin: 8px;
}

.padding{
  padding: 10px;
}

.log-margin{
  margin-left: 70px;
}

.center{
  text-align: center;
}

.new-post{
  font-family: 'Raleway', sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  border-bottom: 1px solid black;
}

.share-button{
  padding-bottom: 8px;
  margin-right: 10px;
  text-align: right;
}

.post{
  width: 97%;
  margin: 15px;
  height: auto;
  background-color: rgba(255, 0, 0, 0.2);
}

.sample-bio{
  margin: 15px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid black;
}

.user-info{
  text-align: center;
}
