body {
  margin: 0;
  font-weight: 300;
}
header{
    padding: 20px;
    border-bottom: 1px solid;
    border-bottom-color: black;
}

figure{
  display: block;
  width: 100px;
}
figcaption{
  text-align: center;
}


.container{
  width: 80%;
  margin: 0 auto;
}

.v-line {
  border-left: 2px solid black;
  height: 30px;
  display: inline-block;
}

.logo{
  float: left;
}

nav{
  float: right;
}

header::after{
  content: '';
  display: table;
  clear: both;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;

}

nav li{
  display: inline-block;
  margin-left: 40px;


}

nav a{
  text-decoration: none;
}

.sbar {
  padding: 6px;
  margin-top: 8px;
  margin-right: 15px;
  border: none;
  font-size: 15px;
  text-align: center;
}


.container{
  width: 80%;
  margin: 0 auto;
}

.pic-pad{
  padding: 20px;
}

.pic-rad{
  border-radius: 50%;
  border: 1px solid #F5F5F5;
  margin: 12px;
}



.btn-margin{
  margin: 12px;

}

.user{
  font-size: 28px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
}

.src-box{
  padding: 200px;

}
.style {
    padding-left: 50px;
}

.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
  padding-left: 0;
}
footer{

  border-top: 1px solid;
  border-top-color: black;
}

footer a{
  margin-right: 20px;
}
